@using SmallFarm.Core.Models.Manufacturer;

@model ManufacturerFormModel

@{
    ViewData["Title"] = "Add Manufacturer";
}

<form asp-controller="Manufacturer" asp-action="Add" class="row g-3" method="post">
    <div class="col-12">
        <label for="inputName" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" id="inputName" placeholder="The Best Manufacturer">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="col-12">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="inputDescription" rows="5" placeholder="Cool description to catch clients ;)"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <div class="col-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
    <div class="col-6">
        <label for="inputNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" id="inputNumber" placeholder="+359881234567">
        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Address</label>
        <input asp-for="Address" type="text" class="form-control" id="inputAddress" placeholder="bul. Todor Kableshkov 123">
        <span asp-validation-for="Address" class="small text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="CityId" class="form-label">City</label>
        <select asp-for="@Model.CityId" class="form-control" aria-required="true">
            @foreach (var city in Model.Cities)
            {
                <option value="@city.Id">@city.Name</option>
            }
        </select>
    </div>
    <div class="">
        <button type="submit" class="btn btn-success">Add Manufacturer</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
