<div class="card border-0 mx-auto" style="width:30rem;margin-top:6em">
    <div class="">
        <div class="text-secondary" style="font-size:150px">404</div>
        <div class="fw-bold" style="font-size:20px">Oops! Something went wrong!</div>
        <div class="mt-1" style="font-size:14px">
            Try to refresh this page!
        </div>
        
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mt-4">Go To Home Page</a>
    </div>
</div>

<script>
    document.getElementById("header").remove();
</script>
