<div id="main" class="card border-0 mx-auto" style="width:30rem;margin-top:4em">
    <div class="">
        <div class="text-secondary" style="font-size:150px">404</div>
        <div class="fw-bold" style="font-size:20px">Oops! The Page Could Not Be Found</div>
        <div class="mt-1" style="font-size:14px">
            Sorry but the page you are looking for does <strong>not exist</strong>, have been <strong>removed</strong>, name <strong>changed</strong> or is temporally <strong>unavailable</strong>
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mt-4">Go To Home Page</a>
    </div>
</div>

<script>
    document.getElementById("main").parentElement.parentElement.parentElement.style.backgroundColor = "white";
</script>
