@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@using SmallFarm.Core.Models.Product
@model ProductFormModel

@{
    ViewData["Title"] = "Add Product";
}

<form asp-controller="Product" asp-action="Add" class="row g-3" method="post" class="row" style="margin-top:4em;margin-inline:30em">

    <div class="me-auto ms-auto">
        <label class="form-label" for="inputName">Product Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Tomatoes" style="max-width:16.3em" asp-for="Name">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>

    <div>
        <label class="form-label" for="inputDescription">Description</label>
        <textarea class="form-control" placeholder="Leave a description here" id="inputDescription" style="width:16.3em;height:100px" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>


    <div class="row g-2">
        <div class="input-group" style="width:9em">
            <label class="form-label" for="quantityInput">Available Quantity</label>
            <input type="number" id="quantityInput" class="form-control" min="0" max="50" value="0" step="0.5" asp-for="Quantity"/>
            <span class="input-group-text bg-success">kg</span>
            <span asp-validation-for="Quantity" class="small text-danger"></span>
        </div>

        <div class="input-group" style="width:9em">
            <label class="form-label" for="priceInput">Price Per Kilogram</label>
            <input type="number" id="priceInput" class="form-control" min="0" max="1000" value="0.00" step="0.50" asp-for="Price"/>
            <span class="input-group-text bg-warning">€</span>
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
    </div>

    <div style="width:17.3em">
        <label class="form-label" for="imageInput">Image URL</label>
        <input class="form-control" type="text" id="imageInput" asp-for="ImageUrl">
    </div>
    
    <input hidden="true" asp-for="ManufacturerId" value="@UserManager.GetUserId(User)"/>

    <div>
        <button type="submit" class="btn btn-success" style="width:16.3em">Add Product</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

