@using SmallFarm.Core.Models.Request;

@model List<RequestFormModel>

@{
    ViewData["Title"] = "All Requests";

    var requestCount = 0;
}

@if (!Model.Any())
{
    <h3 class="text-center mt-5" style="font-size:32px">There are no requests!</h3>
}
else
{

    <div id="carouselExampleIndicators" class="carousel slide bg-secondary">

        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg" aria-current="true"></button>
                }
                else
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"></button>
                }
            }
        </div>
        <div class="carousel-inner">
            @foreach (var request in Model)
            {
                requestCount++;


                if (requestCount == 1)
                {
                    <div id="item" class="carousel-item active">
                        <partial name="_RequestIndexFormPartial" model="request" />
                    </div>
                }
                else
                {
                    <div id="item" class="carousel-item">
                        <partial name="_RequestIndexFormPartial" model="request" />
                    </div>
                }
            }
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var childDiv = document.getElementById("carouselExampleIndicators");
        var parentMain = childDiv.parentElement;
        var containerDiv = parentMain.parentElement;

        containerDiv.classList.remove("mt-3");
        containerDiv.classList.remove("container");
    </script>
}
