<li class="btn-group me-2">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Panel
    </button>
    <ul class="dropdown-menu bg-info">
        <li><a asp-area="Administrator" asp-controller="Manufacturer" asp-action="Index" class="dropdown-item text-black">View Manufacturers</a></li>
        <li><a asp-area="Administrator" asp-controller="Request" asp-action="Index" class="dropdown-item text-black">View Requests</a></li>
    </ul>
</li>
