<div style="display:flex;flex-direction:row">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-route-category="Vegetable" asp-controller="Product" asp-action="Index">Vegetables</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-route-category="Fruit" asp-controller="Product" asp-action="Index">Fruits</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-route-category="Drink" asp-controller="Product" asp-action="Index">Drinks</a>
    </li>
</div>
