<div style="display:flex;flex-direction:row">
    <li class="nav-item">
        <a class="nav-link text-success fw-bold btn btn-outline-light text-decoration-none" style="border:none" asp-area="" asp-controller="Product" asp-action="Index">All Products</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-success fw-bold btn btn-outline-light text-decoration-none" style="border:none" asp-area="" asp-route-category="Vegetable" asp-controller="Product" asp-action="Index">Vegetables</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-success fw-bold btn btn-outline-light text-decoration-none" style="border:none" asp-area="" asp-route-category="Fruit" asp-controller="Product" asp-action="Index">Fruits</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-success fw-bold btn btn-outline-light text-decoration-none" style="border:none" asp-area="" asp-route-category="Drink" asp-controller="Product" asp-action="Index">Drinks</a>
    </li>
</div>
